{% ckan_extends %}

{% set request_reset_url = h.url_for(controller='user',action='request_reset') %}

{% block subtitle %}{{ _('Passwordless Login (login)') }}{% endblock %}

{% block breadcrumb_content %}
  <li class="active">{{ h.nav_link(_('Submit Token'), controller='user', action='login') }}</li>
{% endblock %}

{% block primary_content %}
  <section class="module">
    <div class="module-content">
      <h1 class="page-heading">{% block page_heading %}{{ _('Passwordless Login') }}{% endblock %}</h1>
      {% block form %}
        <form action="login" method="post" class="form-inline control-medium">
          <div class="control-group">
            <label for="field-email">{{ _('Email') }}</label>
            <input id="field-email" name="email" value="{{ email }}" type="email" />
          </div>
          <div class="control-group">
            <label for="field-key">{{ _('Token') }}</label>
            <input id="field-key" name="key" value="{{ key }}" type="text" />
          
            {% block form_button %}
              <button class="btn btn-primary" type="submit" name="reset">
            	  {{ _("Login") }}
              </button>
            {% endblock %}
          </div>
          
        </form>
      {% endblock %}
    </div>
  </section>
{% endblock %}

{% block secondary_content %}
  <section class="module module-narrow module-shallow">
    {% block help_register_inner %}
      <h2 class="module-heading">{{ _('Login with a token') }}</h2>
      <div class="module-content">
        <p>{% trans %}New log in process preventing the storage of passwords. You can get a temporary token delivered into your mailbox {% endtrans %}</p>
         <p class="action"><a class="btn" href="{{ request_reset_url }}">{{ _("Request new token") }}</a></p>
      </div>
    {% endblock %}
  </section>
{% endblock %}
