{% ckan_extends %}
{% import 'macros/form.html' as form %}

{% block subtitle %}{{ _('Passwordless Login (request)') }}{% endblock %}

{% block breadcrumb_content %}
  <li class="active">{{ h.nav_link(_('Passwordless Login'), controller='user', action='request_reset') }}</li>
{% endblock %}

{% block primary_content_inner %}
      <h1 class="page-heading">{% block page_heading %}{{ _('Passwordless Login') }}{% endblock %}</h1>
      {% block form %}
        <form action="" method="post" class="form-inline control-medium">
          <div class="form-group control-full" style="width:100%;">
             <label for="field-email">{{ _('Email') }}</label>
             <input id="field-email" class="control-full form-control" style="width:40%;"  name="email" value="{{ email }}" type="email" />
             {% block form_button %}
               <button class="btn btn-primary" type="submit" name="reset">
          	  <i class="fa fa-icon fa-envelope-o" style="margin-right: 3px;"> </i>
          	  {{ _("Request token") }}
                </button>
             {% endblock %}
          </div>

          <div style="margin-left:-30%">
            {% if g.recaptcha_publickey %}
              {% snippet "user/snippets/recaptcha.html", public_key=g.recaptcha_publickey %}
            {% endif %}
          </div>

        </form>
      {% endblock %}
    </div>
  </section>
{% endblock %}

{% block secondary_content %}
  <section class="module module-narrow module-shallow">
    {% block help_register_inner %}
      <h2 class="module-heading">{{ _('Login without a password') }}</h2>
      <div class="module-content">
        <p>{% trans %}New log in process preventing the storage of passwords. You will get a temporary token in your mailbox.{% endtrans %}</p>
      </div>
    {% endblock %}
  </section>
{% endblock %}

